// 100. Stuff I added - jda
// ---------
// colors added back from foundation 5
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;



// -----------------------------------------
// Pricing tables are back! Using these for tool display
// We use this to control the border color
$toolcard-table-border: solid 1px $gainsboro;

// We use this to control the bottom margin of the pricing table
$toolcard-table-margin-bottom: rem-calc(20);

// We use these to control the title styles
$toolcard-title-bg: $oil;
$toolcard-title-padding: rem-calc(15 20);
$toolcard-title-align: center;
$toolcard-title-color: $smoke;
//$toolcard-title-weight: $font-weight-normal;
$toolcard-title-size: rem-calc(16);
$toolcard-title-font-family: $body-font-family;

// We use these to control the toolcard styles
$toolcard-money-bg: $vapor;
$toolcard-money-padding: rem-calc(15 20);
$toolcard-money-align: center;
$toolcard-money-color: $oil;
//$toolcard-money-weight: $font-weight-normal;
$toolcard-money-size: rem-calc(32);
$toolcard-money-font-family: $body-font-family;


// We use these to control the description styles
$toolcard-bg: $white;
$toolcard-desc-color: $monsoon;
$toolcard-desc-padding: rem-calc(15);
$toolcard-desc-align: center;
$toolcard-desc-font-size: rem-calc(12);
//$toolcard-desc-weight: $font-weight-normal;
$toolcard-desc-line-height: 1.4;
$toolcard-desc-bottom-border: dotted 1px $gainsboro;

// We use these to control the list item styles
$toolcard-item-bg: $white;
$toolcard-item-color: $oil;
$toolcard-item-padding: rem-calc(15);
$toolcard-item-align: left;
$toolcard-item-font-size: rem-calc(14);
//$toolcard-item-weight: $font-weight-normal;
$toolcard-item-bottom-border: dotted 1px $gainsboro;

// We use these to control the CTA area styles
$toolcard-cta-bg: $white;
$toolcard-cta-align: center;
$toolcard-cta-padding: rem-calc(20 20 0);
// -----------------------------------------




/* Toolcards, FKA Pricing Tables in fnd5 */
.toolcard {
  border: $toolcard-table-border;
  margin-left: 0;
  margin-bottom: $toolcard-table-margin-bottom; }
  .toolcard * {
    list-style: none;
    line-height: 1; }
  .toolcard .title {
    background-color: $toolcard-title-bg;
    color: $toolcard-title-color;
    font-family: $toolcard-title-font-family;
    font-size: $toolcard-title-size;
    font-weight: normal;
    padding: $toolcard-title-padding;
    text-align: $toolcard-title-align; }
  .toolcard .price {
    background-color: $toolcard-money-bg;
    color: $toolcard-money-color;
    font-family: $toolcard-money-font-family;
    font-size: $toolcard-money-size;
    font-weight: normal;
    padding: $toolcard-money-padding;
    text-align: $toolcard-money-align; }
  .toolcard .description {
    background-color: $toolcard-bg;
    border-bottom: $toolcard-desc-bottom-border;
    color: $toolcard-desc-color;
    font-size: $toolcard-desc-font-size;
    font-weight: normal;;
    line-height: $toolcard-desc-line-height;
    padding: $toolcard-desc-padding;
    text-align: $toolcard-desc-align; }
  .toolcard .bullet-item {
    background-color: $toolcard-item-bg;
    border-bottom: $toolcard-item-bottom-border;
    color: $toolcard-item-color;
    font-size: $toolcard-item-font-size;
    font-weight: normal;
    padding: $toolcard-item-padding;
    text-align: $toolcard-item-align; }
  .toolcard .cta-button {
    background-color: $toolcard-cta-bg;
    padding: $toolcard-cta-padding;
    text-align: $toolcard-cta-align; }
