

// Stuff I added - jda
// ---------

@import 'foundation-icons';
@import 'webicons';

// colors added back from foundation 5
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;



// -----------------------------------------
// Pricing tables are back! Using these for tool display
// We use this to control the border color
$toolcard-table-border: solid 1px $gainsboro;

// We use this to control the bottom margin of the pricing table
$toolcard-table-margin-bottom: rem-calc(20);

// We use these to control the title styles
$toolcard-title-bg: $oil;
$toolcard-title-padding: rem-calc(15 20);
$toolcard-title-align: center;
$toolcard-title-color: $smoke;
//$toolcard-title-weight: $font-weight-normal;
$toolcard-title-size: rem-calc(16);
$toolcard-title-font-family: $body-font-family;

// We use these to control the toolcard styles
$toolcard-money-bg: $vapor;
$toolcard-money-padding: rem-calc(15 20);
$toolcard-money-align: center;
$toolcard-money-color: $oil;
//$toolcard-money-weight: $font-weight-normal;
$toolcard-money-size: rem-calc(32);
$toolcard-money-font-family: $body-font-family;


// We use these to control the description styles
$toolcard-bg: $white;
$toolcard-desc-color: $monsoon;
$toolcard-desc-padding: rem-calc(15);
$toolcard-desc-align: center;
$toolcard-desc-font-size: rem-calc(12);
//$toolcard-desc-weight: $font-weight-normal;
$toolcard-desc-line-height: 1.4;
$toolcard-desc-bottom-border: dotted 1px $gainsboro;

// We use these to control the list item styles
$toolcard-item-bg: $white;
$toolcard-item-color: $oil;
$toolcard-item-padding: rem-calc(15);
$toolcard-item-align: left;
$toolcard-item-font-size: rem-calc(14);
//$toolcard-item-weight: $font-weight-normal;
$toolcard-item-bottom-border: dotted 1px $gainsboro;

// We use these to control the CTA area styles
$toolcard-cta-bg: $white;
$toolcard-cta-align: center;
$toolcard-cta-padding: rem-calc(20 20 0);
// -----------------------------------------




/* Toolcards, FKA Pricing Tables in fnd5 */
.toolcard {
  border: $toolcard-table-border;
  margin-left: 0;
  margin-bottom: $toolcard-table-margin-bottom;
 }
  .toolcard * {
    list-style: none;
    line-height: 1; }
  .toolcard .title {
    background-color: $toolcard-title-bg;
    color: $toolcard-title-color;
    font-family: $toolcard-title-font-family;
    font-size: $toolcard-title-size;
    font-weight: normal;
    padding: $toolcard-title-padding;
    text-align: $toolcard-title-align; }
  .toolcard .price {
    background-color: $toolcard-money-bg;
    color: $toolcard-money-color;
    font-family: $toolcard-money-font-family;
    font-size: $toolcard-money-size;
    font-weight: normal;
    padding: $toolcard-money-padding;
    text-align: $toolcard-money-align; }
  .toolcard .description {
    background-color: $toolcard-bg;
    border-bottom: $toolcard-desc-bottom-border;
    color: $toolcard-desc-color;
    font-size: $toolcard-desc-font-size;
    font-weight: normal;;
    line-height: $toolcard-desc-line-height;
    padding: $toolcard-desc-padding;
    text-align: $toolcard-desc-align; }
  .toolcard .bullet-item {
    background-color: $toolcard-item-bg;
    border-bottom: $toolcard-item-bottom-border;
    color: $toolcard-item-color;
    font-size: $toolcard-item-font-size;
    font-weight: normal;
    padding: $toolcard-item-padding;
    text-align: $toolcard-item-align; }
  .toolcard .cta-button {
    background-color: $toolcard-cta-bg;
    padding: $toolcard-cta-padding;
    text-align: $toolcard-cta-align; }
// these bits are adapted from the "callout card" building blocks at
// http://zurb.com/building-blocks/info-card-with-corner-lables
.toolcard.radius {
  border-radius: 0.6rem; }
.toolcard .card-label {
    border-color: transparent #333 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #333333 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 0 70px 40px 0;
    float: right;
    height: 0px;
    width: 0px;
    transform: rotate(360deg); }
.toolcard .label-text {
      color: #fff;
      font-size: 0.75rem;
      font-weight: bold;
      position: relative;
      right: -40px;
      top: 2px;
      white-space: nowrap;
      transform: rotate(30deg); }

.toolcard .sign {
      background: #fff;
      width: 150px;
      height: 1.2rem;
      border: 2px solid #444;
      position: relative;
      top: -.6rem;
      margin: auto; }
.toolcard .sign h1 {
      text-transform: uppercase;
      font: bolder 0.875rem;
      letter-spacing: 3px;
      color: #666;
      font-size: 70%;
      text-align: center;
      line-height: 1.1rem; }


$facebook-color: #3b5998;
$twitter-color: #55acee;
$google-color: #d50f25;
$text-transform: uppercase;
$icon-size: 2rem;

.fb-button{
  font-family: "foundation-icons";
  background: $facebook-color;
  color: $white;
  font-size: $icon-size;
  padding: .25em .4em;
  radius: 50%;
}

/*
    .callout-card {
      background: white;
      border: 1px solid #333;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      margin: 1rem 0;}
      .callout-card.primary {
        border-color: #446cb3; }
        .callout-card.primary .card-label {
          border-color: transparent #446cb3 transparent transparent;
          border-color: rgba(255, 255, 255, 0) #446cb3 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
      .callout-card.secondary {
        border-color: #adb2bd; }
        .callout-card.secondary .card-label {
          border-color: transparent #adb2bd transparent transparent;
          border-color: rgba(255, 255, 255, 0) #adb2bd rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
      .callout-card.info {
        border-color: #89c4f4; }
        .callout-card.info .card-label {
          border-color: transparent #89c4f4 transparent transparent;
          border-color: rgba(255, 255, 255, 0) #89c4f4 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
      .callout-card.alert {
        border-color: #f22613; }
        .callout-card.alert .card-label {
          border-color: transparent #f22613 transparent transparent;
          border-color: rgba(255, 255, 255, 0) #f22613 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
      .callout-card.success {
        border-color: #87d37c; }
        .callout-card.success .card-label {
          border-color: transparent #87d37c transparent transparent;
          border-color: rgba(255, 255, 255, 0) #87d37c rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
      .callout-card.warning {
        border-color: #f89406; }
        .callout-card.warning .card-label {
          border-color: transparent #f89406 transparent transparent;
          border-color: rgba(255, 255, 255, 0) #f89406 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
      .callout-card .callout-card-content {
        padding: 0.5rem 1.5rem 0.875rem; }
*/
