

<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="row">
      <div class="small-6 end">
        <div data-closable class="callout small <%= name.to_s == 'notice' ? 'success' : 'alert' %> round">
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
